.content {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formContainer {
    margin: 1em;
    padding: 5em;
    width: 15vw;
    border-radius: 35%;
    background-color: aliceblue;
    width: 75vw;
  }
}


.displayContainer{
  width: 15vw;

}
.App {
  background-color: cornflowerblue;
}
